.about {
  background-image: url('../images/form-background.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  margin-bottom: 70px;
}

.about .section__title {
  margin-bottom: 47px;
}

.about__list {
  padding-left: 77px;
  margin-bottom: 66px;
}

.about__list-item {
  font-size: 30px;
  margin-bottom: 50px;
  display: flex;
  font-weight: 700;
}

.about__list-item::before {
  content: url('../images/icons/list-item.svg');
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 60px;
}

.about__nested-list {
  list-style-type: "- ";
  list-style-position: inside;
  font-weight: 400;
}

.about__buttons {
  display: flex;
  gap: 40px;
  margin-left: 77px;
}

@media (max-width: 1000px) {

  .about__list {
    padding-left: 50px;
  }

  .about__list-item {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .about__buttons {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
  }
}

@media (max-width: 500px) {
  .about__list {
    padding-left: 15px;
  }
  
  .about__list-item::before {
    margin-right: 15px;
  }

  .about__list-item {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .about__buttons {
    gap: 20px;
    margin-left: 0;
    align-items: center;
  }

  .about__buttons a {
    font-size: 15px;
  }
}