.announcement {
  background-color: var(--color-primary);
  color: var(--color-light);
  max-width: 946px;
  margin: 0 auto 72px auto;
  padding: 37px 76px 60px; 
  border-radius: 28px;
}

.announcement__title {
  text-transform: uppercase;
  font-size: 45px;
  text-align: center;
  margin-bottom: 34px;
}

.announcement__subtitle {
  font-size: 32px;
  margin-bottom: 27px;
}

.announcement__text {
  font-size: 24px;
}

@media (max-width: 1165px) {

  .announcement {
    max-width: initial;
    padding: 20px 30px 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .announcement__title {
    font-size: 30px;
  }
  .announcement__subtitle {
    font-size: 24px;
  }
  .announcement__text {
    font-size: 18px;
  }
}

@media (max-width: 550px) {

  .announcement {
    margin-bottom: 50px;
  }

  .announcement__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .announcement__subtitle {
    font-size: 16px;
    margin-bottom: 18px;
  }

  .announcement__text {
    font-size: 14px;
  }
}