.footer {
  background-color: var(--color-secondary);
}

.footer__wrapper {
  padding: 54px 78px 62px 78px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 310px;
}

.footer__text {
  color: var(--color-light);
  font-size: 28px;
  font-weight: 700;
  max-width: 220px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.footer__list-item {
  height: 34px;
  display: flex;
  align-items: center;
}

.footer__list-item::before {
  content: url('../images/icons/arrow.svg');
  margin-right: 24px;
  transition: var(--transition);
  width: 34px;
  height: 34px;
}

.footer__list-item:hover::before{
  content: url('../images/icons/arrow_hover.svg');
}

.footer__link {
  color: var(--color-light);
  font-size: 20px;
  width: 260px;
}

.footer__link:hover {
  font-weight: 700;
}

@media (max-width: 800px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 500px) {

  .footer__logo {
    max-width: 200px;
  }

  .footer__wrapper {
    padding-left: 20px;
  }

  .footer__text {
    font-size: 18px;
  }

  .footer__link {
    font-size: 14px;
  }
}