.form-section {
  background: url('../images/form-background.png'), linear-gradient(258.55deg, #29DBCE 3.1%, #17A49A 34.97%, #149188 54.44%, #118078 71.39%, #0F736C 83.88%);
  border-radius: 50px 50px 0 0;
  padding: 56px 76px 29px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.form-section_women {
  background: url('../images/form-background-flowers.png'), linear-gradient(258.55deg, #29DBCE 3.1%, #17A49A 34.97%, #149188 54.44%, #118078 71.39%, #0F736C 83.88%);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.form__title {
  color: var(--color-light);
  font-weight: 700;
  font-size: 68px;
  margin-bottom: 55px;
}

.form__wrapper {
  display: flex;
  justify-content: space-between;
}

.form__text {
  color: var(--color-light);
  font-size: 28px;
  max-width: 300px;
}

.form {
  min-width: 560px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input {
  border: none;
  border-radius: 36px;
  padding: 18px 77px;
  font-size: 22px;
}

@media (max-width: 1165px) {

  .form {
    min-width: initial;
    width: 60%;
  }

  .form__title {
    font-size: 40px;
  }

  .form__text {
    font-size: 20px;
  }

  .input {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .form__wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .form__title {
    margin-bottom: 30px;
  }

  .form__text {
    max-width: none;
  }

  .form {
    width: 100%;
    gap: 20px;
  }
}

@media (max-width: 550px) {
  .form-section {
    padding: 30px;
    border-radius: 30px 30px 0 0 ;
  }

  .form__title {
    font-size: 20px;
  }

  .form__text {
    font-size: 16px;
  }

  .input {
    font-size: 14px;
    padding: 14px;
  }
}