.user-modal {
  width: 485px;
  padding: 0;
  border: none;
}

.user-modal::backdrop {
  background-color: #000000BF;
}

.modal__header {
  background: linear-gradient(135.08deg, #2CD5C9 20.67%, #1ABBAF 34.79%, #18B0A5 51.28%, #0F736C 142.03%);
  height: 108px;
  width: 100%;
  padding-top: 30px;
  position: relative;
}

.modal__logo {
  margin: 0 auto;
  display: block;
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  background-image: url(../images/icons/close.png);
  background-size: contain;
  cursor: pointer;
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 47px;
  padding: 30px 25px 30px 25px;
}

.modal__tabs {
  display: flex;
  width: 436px;
  height: 60px;
  border-radius: 7px;         
  background-color: #F3F3F3;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 50px;
}

.modal__tab {
  font-size: 20px;
  width: 50%;
  height: 49px;
  text-align: center;
  padding-top: 12px;
  border-radius: 7px;
  font-weight: 700;
}

.modal__tab_active{
  background-color: var(--color-light);
}

.modal__form {
  display: none;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.modal__form_active {
  display: flex;
}

.modal__form_registration {
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.modal__input {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  border: none;
  border-bottom: 2px #C4C4C4 solid;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.modal__input:not(:last-of-type) {
  margin-bottom: 50px;
}

.modal__input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.modal__link {
  text-decoration: underline;
  color: #6B6B6B;
  font-size: 20px;
  transition: all 0.3s;
  align-self: flex-start;
  margin-bottom: 45px;
}

.modal__link:hover {
  color: var(--color-dark)
}

.modal__form .button_accent,
.modal__form_registration .button_accent {
  align-self: center;
  width: 347px;
}

.modal__registration {
  display: none;
  width: 100%;
}

.modal__form_registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 0;
}

.modal__form_registration .modal__input:last-of-type {
  margin-bottom: 70px;
}