.tournament-table {
  margin-bottom: 85px;
}

.tournament-table .section__title {
  margin-left: 30px;
}

.tournament-table table {
  width: 100%;
}

.tournament-table table td {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.tournament-table table thead tr td {
  background-color: #1C8A8F;
  color: var(--color-light);
  font-weight: 700;
}

.tournament-table table thead td:first-of-type {
  border-radius: 30px 0 0 0;
}

.tournament-table table tr:nth-of-type(odd) {
  background-color: #C0EBEC;
}

.tournament-table table tr:nth-of-type(even) {
  background-color: #FAFAFA;
}

.tournament-table table tr td:last-child {
  background-color: #1C8A8F;
  color: var(--color-light);
  font-weight: 700;
}

.tournament-table table tr td:nth-child(2) {
  font-weight: 700;
}